table	{
	width: 100%;
}
table tr	{
	background: #F7F7F7;
	transition: background 0.25s;
	height: 30px;
	border-bottom: 5px white solid;
}
table tr td	{
	padding-left: 10px;
	padding-right: 10px;
}
table tr td:first-child	{
	width: 0;
}
table tr td:last-child	{
	width: 400px;
}
table tr:hover	{
	background: #E0E0E0;
}
.static-bg, .static-bg:hover	{
	background: #F9F9F9;
}
#members	{
	list-style-type: none;
	width: 100%;
	margin: 0;
}
#members li	{
	margin: 0;
	height: 32px;
	border-bottom: 1px #EBEBEB solid;
	padding-left: 20px;
	padding-right: 5px;
	line-height: 32px;
	font-size: 14px;
}
#members li:last-child	{
	border-bottom: none;
}
#members li:hover	{
	background: #F7F7F7;
}
.li-right	{
	float: right;
}
.red, .red:hover, .red:active	{
	color: red;
}