#chat-countdown	{
	display: inline-block;
	width: 0px;
	height: 20px;
	background: #64BEDF;
}
#countdown-wrapper	{
	display: inline-block;
	background: #cdd0d4;
	width: 100px;
	height: 20px;
}
.msg-name {
	font-weight: bold;
	color: #F9A539;
}
#loading	{
	padding: 10px 0;
	text-align: center;
}
#backToTop	{
	display: none;
	position: fixed;
	bottom: 200px;
	right: 100px;
}
#cnews	{
	width: 238px;
	min-height: 250px;
	resize: vertical;
	padding-left: 15px;
	padding-right: 15px;
	outline: 2px silver dashed;
	border: none;
	box-shadow: none;
}
#box-announcements .canEdit	{
	padding: 2px;
	cursor: text;
}
.canEdit:hover	{
	outline: 2px silver dashed;
}
.boxLoader	{
	display: none;
}