@keyframes pop {
    10%  {top: -70px;}
    20%  {top: 12px;}
    25%  {top: 2px;}
    85%  {top: 2px;}
    90%  {top: 12px;}
    100% {top: -70px;}
}
@-webkit-keyframes pop {
    10%  {top: -70px;}
    20%  {top: 12px;}
    25%  {top: 2px;}
    85%  {top: 2px;}
    90%  {top: 12px;}
    100% {top: -70px;}
}
@keyframes pop2 {
    10%  {top: -35px;}
    20%  {top: 2px;}
    90%  {top: 2px;}
    100% {top: -35px;}
}
@-webkit-keyframes pop2 {
    10%  {top: -35px;}
    20%  {top: 2px;}
    90%  {top: 2px;}
    100% {top: -35px;}
}
body	{
	overflow-y: scroll;
	overflow-x: hidden;
}
header .logo	{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
}
header ul li	{
	margin-left: -5px !important;
}

/* Login und Logout Button */

#join {
	position: absolute;
	top: 1px;
	height: 34px;
	border-right: 1px #149acb solid;
    right: 0;
}
.result-message {
    animation: pop 5s;
    -webkit-animation: pop 5s;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    top: -70px;
    z-index: 1;
    right: auto;
    margin-left: 3px;
}
.orange .result-message {
    background-color: #F9A539;
}
.red .result-message {
    background-color: #E85F29;
}
.addborder {
    border-right: 1px #149acb solid;
}
#logout-sign {
    position: absolute;
    right: auto;
    top: 140px; 
    padding-left: 45px;
}
#lbn {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/Orb5.png) no-repeat;
    width: 0px;
    height: 35px;
    padding-right: 140px;
}
#bye:hover {
    background-color: #0f8bc0;
}
#bye:hover #lbn {
    background: url(../img/Orb4.png) no-repeat;
}
#welcome	{
	position: absolute;
	top: 0px;
	right: 67px;
	height: 35px;
} 
#bmenu {
	position: absolute;
	padding: 0;
	top: 0px;
	right: 0px;
	width: 66px;
	height: 35px;
	border-right: #149acb 1px solid;
}
#menulink {
	position: absolute;
	overflow: hidden;
	top: 35px;
	right: 0px;
	height: 0;
	width: 66px;
	background-color: #0f8bc0;
	border-radius: 0px;
	border: none;
	border-top: 1px #149acb solid;
	opacity: 0;
	transition: opacity 0.25s, width 0.25s, height 0.25s, border-radius 0.25s, box-shadow 0.25s;
	-webkit-transition: opacity 0.25s, width 0.25s, height 0.25s, border-radius 0.25s, box-shadow 0.25s;
}
#menulink li {
    text-align: left;
    width: 140px;
    height: 35px;
    border-left: none;
}
#amenu:hover #menulink {
	height: 175px;
	width: 132px;
	top: 35px;
	box-shadow: 0px 2px 2px grey;
    border-radius: 0px 0px 10px 10px;
	opacity: 1;
}
#mbn {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../img/menu.png) no-repeat;
	right: 66px;
    width: 35px;
	height: 35px;
	padding-left: 35px
}
#amenu:hover #mbn {
	background: url(../img/menu2.png) no-repeat;
}
#login	{
	width: 200px;
	height: 135px;
	background: #0F8BC0;
	position: fixed;
	top: 50px;
	cursor: default;
	display: none;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
#login #arrow	{
	width: 0;
	height: 0;
	border: 10px #0F8BC0 solid;
	position: absolute;
	top: -20px;
	left: 20px;
	z-index: 99;
	border-left: 10px transparent solid;
	border-right: 10px transparent solid;
	border-top: 10px transparent solid;
}
input	{
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
#login #form	{
	padding: 5px;
}
#login #form a	{
	font-size: 10px;
	line-height: 10px;
	position: absolute;
	bottom: 5px;
	right: 15px;
	color: #FFFFFF;
}
#login #form input	{
	width: 180px;
	margin: 0;
}
#login #form input[type=submit]	{
	width: 190px;
	box-shadow: none;
}
.ui-state-highlight, .ui-state-error	{
	position: fixed;
	top: 70px;
	left: 300px;
	right: 300px;
	margin: 0 auto;
	z-index: 100;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	text-align: center;
}
.ui-state-error	{
	text-shadow: 0px 1px #000000;
}
#featured-h	{
	font-size: 18px;
}
.image	{
	margin-right: 5px;
}
article input	{
	display: block;
}
input[type=checkbox]	{
	display: inline;
}
#error404	{
	width: 200px;
	height: 200px;
	border: 10px #CCCCCC solid;
	border-radius: 110px;
	margin: 25px auto;
}
.box-header	{
	height: 36px;
}
.box-header h1	{
	padding-left: 15px;
}
.box-header h2	{
	padding-left: 15px;
	padding-top: 5px;
}
.mce-i-sb	{
	background-image: url(../scripts/tinymce/plugins/sb/icon.png) !important;
}
.msg	{
	background-image: url(../img/sharp.png);
	background-repeat: no-repeat;
	background-position: top right;
	border: 2px #ECECEC solid;
	margin-top: 10px;
	padding: 5px 10px;
	box-shadow: 2px 2px 5px #ECECEC;
}
.msg:hover	{
	border-color: #FFFFCC;
	box-shadow: 2px 2px 5px #FFFFCC;
	background-image: url(../img/sharp_highlight.png);
}
.msg *	{
	max-width: 570px;
}
.msg-head	{
	font-size: 12px;
}
iframe	{
	border: none;
}
.ui-dialog-titlebar	{
	background: #F6A828 !important;
	text-shadow: 0px 1px #000000;
}
#footer	{
	background-image: url(../img/cat_cropped.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}
#footer p	{
	margin-bottom: 0;
}
#members	{
	list-style-type: none;
	width: 100%;
	margin: 0;
}
.member	{
	margin: 0;
	height: 32px;
	border-bottom: 1px #EBEBEB solid;
	padding-left: 20px;
	line-height: 32px;
	font-size: 14px;
}
.member:last-child	{
	border-bottom: none;
}
.founder	{
	font-weight: bold;
}
.box-no-padding	{
	padding: 0 !important;
}
#info tr td:last-child	{
	padding-left: 5px;
}