.event-list	{
	list-style-type: none;
	margin: 0;
}
.event-list li	{
	margin: 0;
	height: 93px;
	display: block;
	border-bottom: 1px #EBEBEB solid;
}
.event-img	{
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 10px; 
	float: left;
}
.msg-content	{
	margin-left: 85px;
	height: 93px;
	padding: 5px;
}
.event-headline	{
	color: #1AA0D8;
	font-weight: bold;
}
.event-actions	{
	float: left;
}
.event-actions button	{
	display: block;
	width: 100px;
}
select	{
	width: 54px;
	height: 54px;
	float: left;
	margin-right: 10px;
}
option	{
	width: 54px;
	height: 54px;
}
#headline-input, #msg-input	{
	height: 13px;
	line-height: 13px;
	font-size: 13px;
	display: inline;
}
#news	{
	float: left;
	margin-right: 50px;
}
#event-preview	{
	height: 280px;
	width: 400px;
	float: right;
	list-style-type: none;
}
#event-preview li	{
	border-bottom: 1px #EBEBEB solid;
}
.min	{
	min-height: 120px;
}
#news	{
	margin: 10px;
}
.invisible, .no-answer	{
	background: rgba(255,0,0,0.6);
	text-shadow: none;
}
.question	{
	border-bottom: 1px #EBEBEB solid;
	padding: 5px;
}
#userlist {
	width: 100%;
	cursor: default;
}
#userlist th,td {
	padding: 3px 6px;
	text-align: left;
}
#userlist th	{
	cursor: pointer;
}
#userlist td:nth-child(even) {
	background-color: #f0f0f0;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
	border-top: #ffffff 2px solid;
	border-bottom: #ffffff 2px solid;
}
#userlist td:nth-child(odd) {
	background-color: #e8e8e8;
	transition: background-color 0.125s;
	-webkit-transition: background-color 0.125s;
	border-top: #ffffff 2px solid;
	border-bottom: #ffffff 2px solid;
}
#userlist th,#userlist tr:hover td {
	background-color: #e0e0e0;
}
#userlist td[colspan="5"] {
	font-weight: bold;
	border-bottom: none;
}
th.header	{
	background-image: url(http://tablesorter.com/themes/blue/bg.gif);
	background-position: center right;
	background-repeat: no-repeat;
}
th.headerSortUp { 
    background-image: url(http://tablesorter.com/themes/blue/asc.gif);
	background-position: center right;
	background-repeat: no-repeat;
    background-color: #BABABA !important;
}
th.headerSortDown { 
    background-image: url(http://tablesorter.com/themes/blue/desc.gif);
	background-position: center right;
	background-repeat: no-repeat;
    background-color: #BABABA !important;
}