.inner h4 {
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 7px;
	width: 100%;
	border-bottom: #554747 2px solid;
}
.inner hr {
	color: #fff;
}
.box-content {
	padding-bottom: 20px;
}
h3 {
	font-size: 22px;
}
#newcollab {
	position: absolute;
	right: 10px;
	top: 3px;
}

#msu,#msm {
	list-style: none;
}
#msu .image,#msm .image {
	border: 1px lightgrey solid;
}
#msu .button,#msm .button {
	position: absolute;
	margin-top: 35px;
	z-index: 99;
	right: 20px;
}
#msu li {
	padding-bottom: 2px;
	border-bottom: #8d8d8d 1px solid;
}

.stats {
	display: inline;
	position: absolute;
	float: right;
	width: 100%;
}
.stats tr {
	background-color: #f7f7f7; 
	border: 2px #fff solid;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
.stats tr:hover {
	background-color: #e0e0e0;
	cursor: default;
}
.stats td,th {
	padding: 2px 4px;
	text-align: left;
}